/* ---------------------------------- COMMON STYLINGS --------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.34;
    font-size: 15px;
    color: #1c1e21;
}

a {
    text-decoration: none;
}

textarea{
    resize: none;
}

/*----------------------------------------INDEX.PHP-----------------------------------------*/

.c-banner {
    width: 50%;
    padding-top: 3.4rem;
}

.c-banner__title {
    color: #1877f2;
    font-size: 3.75rem;
    letter-spacing: -.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.c-banner__info {
    font-size: 1.75rem;
    line-height: 32px;
    padding-top: .5rem;
}

.c-login {
    width: 24.75rem;
    background-color: #fff;
    padding: .625rem 1rem 1.5rem;
    border-radius: .51rem;
    margin-left: auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.c-login-form__input {
    padding: .9375rem 1rem;
    width: 100%;
    border-radius: .375rem;
    border: none;
    margin: .375rem 0;
    font-size: 1.0625rem;
    border: 1px solid #dddfe2;
}

.c-login-form__input:focus{
    outline-color: #1877f2;
    outline-width: 1px;
}

.c-login-form__submit {
    background-color: #1877f2;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    padding: 0 1rem;
    line-height: 48px;
    margin: .6rem 0 .25rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .25s ease-out;
}

.c-login-form__submit:hover {
    background-color: #166fe5;
    border: none;
}

.c-login__link {
    display: block;
    margin: .75rem auto;
    width: fit-content;
}

.c-login__password-reset {
    color: #1877f2;
    font-size: .875rem;
}

.c-login__password-reset:hover {
    text-decoration: underline;
}

.c-login__register {
    margin-bottom: initial;
    background-color: #42b72a;
    color: #fff;
    font-size: 1.0625rem;
    font-weight: bold;
    padding: 0 1rem;
    border-radius: .375rem;
    line-height: 48px;
    border: none;
    transition: background-color .25s ease-out;
}

.c-login__register:hover {
    background-color: #39a923;
}

.c-login__separator {
    border-top: 1px solid #dadde1;
    margin: 1.25rem 0 1.625rem;
}

/* --------------------------------------- MAIN.PHP ----------------------------------- */

header {
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.c-search {
    display: flex;
    align-items: center;
}

.c-search__logo {
    font-size: 2.5rem;
    color: #18acfd;
    display: block;
    background: -webkit-linear-gradient(#18acfd, #0f6be1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: .5rem;
    cursor: pointer;
}

.c-search__input {
    position: relative;
    width: 18.25rem;
    height: 2.5rem;
    color: #606770;
}

.c-search__input-icon {
    position: absolute;
    top: 50%;
    left: .75rem;
    transform: translateY(-50%);
}

.c-search__input-field {
    padding: .4375rem 1rem .5625rem 2.25rem;
    /* padding: 7px 16px 9px 36px; */
    border-radius: 2rem;
    background-color: #f0f2f5;
    border: none;
    width: 100%;
    height: 100%;
    font-size: .9375rem;
}

.c-search__input-field:focus{
    outline-color: transparent;
}

.l-controls--flex {
    display: flex;
    align-items: center;
}

.c-controls__account {
    color: #1877f2;
    font-weight: 600;
    background-color: #ECF3FF;
    border-radius: 2rem;
    padding: 0 12px;
}

.c-controls__settings {
    background-color: #e4e6eb;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    position: relative;
    cursor: pointer;
}

.c-controls__settings:hover {
    background-color: #e0e1e4;
}

.c-controls__settings i {
    font-size: 1.5rem;
    position: absolute;
    pointer-events: none;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.l-controls--margin {
    margin-left: .5rem;
}

.h-bio-hide{
    display: none;
}

.c-hero__bio-show{
    display: none;
}

.h-bio-show{
    display: block;
}